{%- assign fields = site.data.config-search -%}
<script>
 const ES_SEARCH_URL = "http://{{ site.elasticsearch-host }}/{{ site.elasticsearch-index }}/_search"

 async function executeQuery (searchParams) {
   /* Perform the search and return the response, or return null if something
      goes wrong (e.g. server not reachable, response not JSON, etc.)
    */

   // Init the query context to a match_all.
   let queryContext = { match_all: {} }

   // Add a full text query.
   const q = searchParams.get('q')
   if (q) {
     queryContext = {
       simple_query_string: {
         query: q,
         default_operator: "and",
         fields: [
           {% assign indexed = fields | where: 'index','true' %}
           {% for f in indexed %}
           "{{ f.field }}",
           {% endfor %}
         ]
       }
     }
   }

   // Build the filter context.
   let filterContext = []
   for (let [k, v] of searchParams.entries()) {
     if (k === 'q') {
       continue
     }
     // Add a term filter.
     const isArray = k.endsWith('[]')
     let fieldName = '{}.raw'.format(isArray ? k.slice(0, k.length - 2) : k)
     let fieldValues = isArray ? v : [v]
     fieldValues.forEach(fieldValue => {
       filterContext.push({
         term: { [fieldName]: fieldValue }
       })
     })
   }

   let query = {
     query: {}
   }

   if (filterContext.length === 0) {
     // Build non-filtered query.
     query.query = queryContext
   } else {
     // Build filtered query.
     query.query = {
       bool: {
         must: queryContext,
         filter: filterContext
       }
     }
   }

   // Add any aggregations.
   {% assign faceted = fields | where: 'facet','true' %}
   query.aggs = {
     {% for f in faceted %}
     {{ f.field }}: {
       terms: {
         field: "{{ f.field }}.raw"
       }
     },
     {% endfor %}
   }

   // Specify which document fields we want returned.
   query._source = [
     "objectid",
     {% for f in fields %}
     "{{ f.field }}",
     {% endfor %}
   ]

   let fetchResponse
   try {
     fetchResponse = await fetch(
       ES_SEARCH_URL,
       {
         method: "POST",
         headers: {
           "Accept": "application/json",
           "Content-Type": "application/json"
         },
         body: JSON.stringify(query)
       }
     )
   } catch (e) {
     return null
   }

   let searchResponse
   // If the content is not JSON, abort, otherwise attempt to decode it.
   if (!fetchResponse.headers.get('Content-Type')
                     .startsWith('application/json')) {
     return null
   } else {
     try {
       searchResponse = await fetchResponse.json()
     } catch (e) {
       return null
     }
   }

   if (!fetchResponse.ok) {
     // If it looks like an ES error, print the 'reason' to the console.
     if (searchResponse.error && searchResponse.error.reason) {
       console.error(`Search error: ${searchResponse.error.reason}`)
     }
     return null
   }

   return searchResponse
 }


 //////////////////////////////////////////////////////////////////////////////
 // Utility Functions
 //////////////////////////////////////////////////////////////////////////////

 function createElement (domString) {
   // Return an HTML element object for the given DOM string.
   const wrapper = document.createElement('div')
   wrapper.innerHTML = domString.trim()
   const el = wrapper.firstChild
   wrapper.removeChild(el)
   return el
 }


 //////////////////////////////////////////////////////////////////////////////
 // Facet Rendering
 //////////////////////////////////////////////////////////////////////////////

 const NUM_VISIBLE_FACET_VALUES = 5

 // Convert the facet name to a title.
 const facetNameToTitle = s => s.replace('_', ' ')
                                .replace(/\b[a-z]/g, (x) => x.toUpperCase())


 function toggleFacetValueSelection (name, value) {
   const params = new URLSearchParams(location.search)
   const paramKey = `${name}[]`
   let paramVals = params.getAll(paramKey)

   // TODO - maintain the original application order.
   if (paramVals.includes(value)) {
     paramVals.pop(value)
   } else {
     paramVals.push(value)
   }
   params.delete(paramKey)
   paramVals.forEach(v => params.append(paramKey, v))

   const url = new URL(location.href)
   url.search = params
   history.pushState(null, document.title, url)

   search(getSearchParams())
 }

 const getSelectedFacetVals = name =>
   new URLSearchParams(location.search).getAll(`${name}[]`)

 function FacetElement (facetName, buckets) {
   // Get the selected values for this facet as specified in the URL.
   const selectedVals = getSelectedFacetVals(facetName)

   // Add a selected flag to the buckets.
   buckets.forEach(bucket => {
     bucket.selected = selectedVals.includes(bucket.key)
   })

   // Sort the selected values to the top, by doc count descending.
   buckets.sort((a, b) => (a.selected ? 0 : 1) - (b.selected ? 0 : 1))

   const el = createElement(`
     <div style="font-size: .8em;
                 border: solid #343a40 1px;
                 border-radius: .25rem;
                 overflow: hidden;
                 margin-bottom: 2em;">
       <h1 class="facet-name"
           style="font-size: inherit;
                  background-color: #343a40;
                  color: #ccc;
                  padding: .5em;
                  font-weight: bold;
                  margin-bottom: 0;
                  cursor: pointer;
                  white-space: nowrap;
                  padding-right: 5em;
                  position: relative;">
         ${facetNameToTitle(facetName)}
         <span style="position: absolute;
                      right: 1em;
                      font-weight: bold;
                      color: #ccc;
                      font-family: monospace;
                      font-size: 1.4em;">
           -
         </span>
       </h1>

       ${buckets.map((bucket, i) => `
       <div class="facet-value"
            style="white-space: nowrap;
                   padding: .2em .5em;
                   ${i > 0 ? "border-top: solid #eee 1px;" : ""}
                   position: relative;
                   cursor: pointer;
                   color: ${bucket.selected ? "#fff" : "#444"};
                   background-color: ${bucket.selected ? "#17a2b8" : "#fff"};"
            data-facet="${facetName}"
            data-value="${bucket.key}">
         <span style="white-space: nowrap;
                      margin-right: 2em;">
           ${bucket.key.length ? bucket.key : '&lt;unknown&gt;'}
         </span>
         <span style="position: absolute;
                      right: 1em;">
           ${bucket.selected ? 'x' : bucket.doc_count}
         </span>
       </div>`
       ).join('')}

       <div class="show-more"
            style="text-align: center;
                   font-size: 1em;
                   background-color: #f4f4f4;
                   color: #888;
                   padding: .1em 0;
                   cursor: pointer;">
         show fewer
       </div>

     </div>
   `)

   const rowEls = Array.from(el.querySelectorAll('div'))
   const moreOrFewerEl = el.querySelector('div:last-child')

   // Get the rows that will be controlled by the show more/less feature.
   const moreRowEls = rowEls.slice(NUM_VISIBLE_FACET_VALUES, rowEls.length-1)

   // Hide values that exceed the number of default visible.
   const toggleShowMore = () => {
     moreRowEls.forEach(el => el.style.display = showMore ? 'block' : 'none')
     moreOrFewerEl.innerText = `show ${showMore ? 'fewer' : 'more'}`
     showMore = !showMore
   }

   // Init showMore to false so that an initial call to toggleShowMore will
   // result in the extra rows being hidden.
   let showMore = false

   if (moreRowEls.length === 0) {
     // There are no hidden rows, so remove the more/fewer element entirely.
     moreOrFewerEl.remove()
   } else {
     // Hide the extra rows.
     toggleShowMore()
   }

   // Define a function to toggle the collapsed/expanded row state.
   let collapsed = false
   const collapsedIconEl = el.querySelector('h1 > span')
   const toggleCollapsed = () => {
     if (!collapsed) {
       // Hide all the rows.
       rowEls.forEach(el => el.style.display = 'none')
     } else {
       // Iterate through all but the last row, setting visibility based on
       // whether there are normally hidden rows and, if so, the state of
       // show more/less.
       rowEls.slice(0, rowEls.length - 1).forEach((el, i) => {
         if (moreRowEls.length === 0 ||
             (!showMore || i < NUM_VISIBLE_FACET_VALUES)) {
           el.style.display = 'block'
         }
       })
       // Always show the last row, which is either a show-more/less div or
       // a facet value.
       rowEls[rowEls.length - 1].style.display = 'block'
     }

     collapsedIconEl.innerText = collapsed ? '-' : '+'
     collapsed = !collapsed
   }

   // Add a single facet element click handler.
   el.addEventListener('click', e => {
     const el = e.target
     if (el.classList.contains('facet-name')) {
       toggleCollapsed()
     } else if (el.classList.contains('facet-value')) {
       const {facet, value} = el.dataset
       toggleFacetValueSelection(facet, value)
     } else if (el.classList.contains('show-more')) {
       toggleShowMore()
     } else if (el.parentElement.classList.contains('facet-value')) {
       const {facet, value} = el.parentElement.dataset
       toggleFacetValueSelection(facet, value)
     }
   })

   return el
 }

 function getOrderedAppliedFacetNames () {
   // Return a deduplicated, ordered array of the applied facet names.
   let appliedFacets = []
   for (let k of new URLSearchParams(location.search).keys()) {
     if (k !== 'q' && !appliedFacets.includes(k)) {
       appliedFacets.push(k.endsWith('[]') ? k.slice(0, k.length -2) : k)
     }
   }
   return appliedFacets
 }

 function renderFacets (aggregations) {
   // Render the facet elements for the specified Elasticsearch aggregation
   // results.
   const facetsEl = document.querySelector('#facets')
   Array.from(facetsEl.children).forEach(el => el.remove())
   // Get the list of faceted field via liquid.
   const facets = [{% for f in faceted %}"{{ f.field }}",{% endfor %}]

   // Sort the facets in the application order indicated by the URL.
   const facetNames = getOrderedAppliedFacetNames()
   facets.sort((a, b) => {
     const aIdx = facetNames.indexOf(a)
     const bIdx = facetNames.indexOf(b)
     return (aIdx > -1 ? aIdx : facets.length) -
            (bIdx > -1 ? bIdx : facets.length)
   })
   for (let facet of facets) {
     let aggregation = aggregations[facet]
     if (aggregation) {
       facetsEl.appendChild(FacetElement(facet, aggregation.buckets))
     }
   }
 }


 //////////////////////////////////////////////////////////////////////////////
 // Search Result Rendering
 //////////////////////////////////////////////////////////////////////////////

 function renderResults (response) {
   // Get the results table and remove any existing children.
   const resultsTableEl = document.querySelector('#results')
   Array.from(resultsTableEl.children).forEach(el => el.remove())

   if (response === null) {
     return
   }

   // Get the display field and item path configuration via liquid.
   const fieldNames = [
     {%- assign displayFields = fields | where: 'display','true' -%}
     {%- for field in displayFields -%}
     "{{ field.field }}",
     {%- endfor -%}
   ]
   const itemsPath = "{{ "/items/" | relative_url }}"

   // Generate the results table HTML.
   const numHits = response.hits.total.value
   resultsTableEl.innerHTML = `
     <tr>
       <td>
         <h4 class="mt-3">
           ${numHits} Result${numHits === 1 ? "" : "s"} found
         </h4>
       </td>
     </tr>
     ${response.hits.hits.map(hit => `
     <tr>
       <td style="display: flex;">
         <div>
           <a href="${itemsPath}${hit._source.objectid}.html">
             <img src="{{ site.digital-objects }}/thumbs/${hit._source.objectid}_th.jpg"
                  style="width: 100px; height: auto;">
           </a>
         </div>
         <div>
           <p class="h4 ml-3">
             <a href="${itemsPath}${hit._source.objectid}.html">
               ${hit._source[fieldNames[0]]}
             </a>
           </p>
           ${fieldNames.slice(1).map(fieldName => `
           <p class="ml-3 mb-1">
             ${hit._source[fieldName]}
           </p>
           `).join('')}
         </div>
       </td>
     </tr>
     `).join('')}
   `
 }

 /* search function */
 async function search (searchParams) {
   const response = await executeQuery(searchParams)

   // Call renderResults() before we check for a numm response in order to
   // empty the results table in the event of an error.
   renderResults(response)

   if (response === null) {
     document.querySelector('#search-error').innerText =
       'Search failed. Please contact your administrator.'
       return
   }

   renderFacets(response.aggregations)

 }


 /* function facetsClickHandler (e) {
  *   let target = e.target
  *   if (!target.dataset.hasOwnProperty('facet')) {
  *     target = target.parentElement
  *     if (!target.dataset.hasOwnProperty('facet')) {
  *       return
  *     }
  *   }

  *   const facetName = target.dataset.facet
  *   const facetValue = target.dataset.value
  *   const params = new URLSearchParams(location.search)
  *   const paramKey = `${facetName}[]`
  *   let paramVals = params.getAll(paramKey)

  *   if (paramVals.includes(paramKey)) {
  *     paramVals.pop(facetValue)
  *   } else {
  *     paramVals.push(facetValue)
  *   }
  *   params.delete(paramKey)
  *   paramVals.forEach(v => params.append(paramKey, v))
  *   location.search = `?${params.toString()}`
  * }
  */

 function getSearchParams () {
   // Parse the URL search params, collecting array-type values into actual
   // arrays and return the resulting <key> -> <value(s)> map.
   const params = new Map()
   const searchParams = new URLSearchParams(location.search)
   for (let [k, v] of searchParams.entries()) {
     const isArray = k.endsWith('[]')
     if (!params.has(k)) {
       params.set(k, isArray ? [v] : v)
     } else if (isArray) {
       params.get(k).push(v)
     } else {
       console.warn(`Duplicate search key "${k}" does not end with "[]"`)
     }
   }
   return params
 }

 document.addEventListener('DOMContentLoaded', () => {
   // Get the search params and do the search.
   const params = getSearchParams()
   search(params)

   // Set the text input value to reflect the current search string and add
   // a listener to submit on Enter.
   const inputEl = document.querySelector('input#search')
   inputEl.value = params.get('q') || ''
   inputEl.addEventListener('keydown', e => {
     if (e.key === "Enter") {
       params.set('q', inputEl.value)

       // Hack to fix a bug for the demo where a new search using the
       // embeddd input doesn't update the URL.
       const url = new URL(location.href)
       const urlSearchParams = new URLSearchParams(url.search)
       urlSearchParams.set('q', inputEl.value)
       url.search = urlSearchParams
       history.pushState(null, document.title, url)

       search(params)
     }
   })

   window.addEventListener('popstate', () => {
     search(getSearchParams())
   })
 })

</script>
